# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [2]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))

/home/workspace

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [3]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [4]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [5]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster()

# session is created to establish connection and begin executing queries
session = cluster.connect()

#### Create Keyspace

In [6]:
# Create a Keyspace 
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS project
    WITH REPLICATION =
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }""")                    

except Exception as e:
    print(e)

#### Set Keyspace

In [7]:
# Set KEYSPACE to the keyspace specified above
try:
    session.set_keyspace('project')
except Exception as e:
    print(e)

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [8]:
## Query 1:  Give me the artist, song title and song's length in the music app history that was heard during \
## sessionId = 338, and itemInSession = 4

try:
   session.execute("DROP TABLE IF EXISTS music_session")
except Exception as e:
   print(e)

# create table based on query requirements
query = "CREATE TABLE IF NOT EXISTS music_session "
query = query + "(sessionId int, itemInSession int, artist text, song text, length float, PRIMARY KEY (sessionId, itemInSession))"

try:
   session.execute(query)
except Exception as e:
   print(e)

In [9]:
# insert corresponding data into table from the csv file

file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO music_session (sessionId, itemInSession, artist, song, length)"
        query = query + "VALUES (%s, %s, %s, %s, %s)"
        
        session.execute(query, (int(line[8]), int(line[3]), line[0], line[9], float(line[5])))

#### Do a SELECT to verify that the data have been inserted into each table

In [10]:
# perform select query to verify rows were inserted based off of original query requirement

select_query = "SELECT artist, song, length FROM music_session WHERE sessionid=338 AND iteminSession=4"

try:
    rows = session.execute(select_query)
except Exception as e:
    print("Error with data query")

# display query rows into A dataframe
row_data = []    
for row in rows:
    row_data.append(row)
    df = pd.DataFrame(row_data)
df

      artist                             song      length
0  Faithless  Music Matters (Mark Knight Dub)  495.307312

### COPY AND REPEAT THE ABOVE THREE CELLS FOR EACH OF THE THREE QUESTIONS

In [11]:
## Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182

try:
   session.execute("DROP TABLE IF EXISTS user_session")
except Exception as e:
   print("Error: Dropping table")

# create table based on query requirements
query2 = "CREATE TABLE IF NOT EXISTS user_session "
query2 = query2 + "(user_id int, session_id int, itemInSession int,artist text, song text, first_name text, last_name text, \
                    PRIMARY KEY ((user_id, session_id), itemInSession))"

try:
   session.execute(query2)
except Exception as e:
   print(e)

In [12]:
# insert corresponding data into table from the csv file

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO user_session (user_id, session_id, itemInSession, artist, song, first_name, last_name)"
        query = query + "VALUES (%s, %s, %s, %s, %s, %s, %s)"
        
        session.execute(query, (int(line[10]), int(line[8]), int(line[3]), line[0], line[9], line[1], line[4]))

In [13]:
# perform select query to verify rows were inserted based off of original table requirement

select_query = "SELECT artist, song, itemInSession, first_name, last_name FROM user_session WHERE user_id=10 AND session_id=182"

try:
    rows = session.execute(select_query)
except Exception as e:
    print(e)

# display query rows into A dataframe
row_data = []    
for row in rows:
    row_data.append(row)
    df = pd.DataFrame(row_data)
df

,artist,song,iteminsession,first_name,last_name
0,Down To The Bone,Keep On Keepin' On,0,Sylvie,Cruz
1,Three Drives,Greece 2000,1,Sylvie,Cruz
2,Sebastien Tellier,Kilometer,2,Sylvie,Cruz
3,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,3,Sylvie,Cruz

In [14]:
## Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

try:
   session.execute("DROP TABLE IF EXISTS song_user")
except Exception as e:
   print(e)

# create table based on query requirements
query = "CREATE TABLE IF NOT EXISTS song_user "
query = query + "(song text, user_id int, first_name text, last_name text, PRIMARY KEY (song, user_id))"

try:
   session.execute(query)
except Exception as e:
   print(e)

In [15]:
# insert corresponding data into table from the csv file

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO song_user (song, user_id, first_name, last_name)"
        query = query + "VALUES (%s, %s, %s, %s)"
        
        session.execute(query, (line[9], int(line[10]), line[1], line[4]))

In [16]:
# perform select query to verify rows were inserted based off of original table requirement

select_query3 = "SELECT first_name, last_name FROM song_user WHERE song='All Hands Against His Own'"
try:
    rows = session.execute(select_query3)
except Exception as e:
    print(e)

# display query rows into a dataframe
row_data = []    
for row in rows:
    row_data.append(row)
    df = pd.DataFrame(row_data)
df

   first_name last_name
0  Jacqueline     Lynch
1       Tegan    Levine
2        Sara   Johnson

### Drop the tables before closing out the sessions

In [17]:
# Drop the table before closing out the sessions

try:
    session.execute("drop table music_session")
except Exception as e:
    print(e)
    
try:
    session.execute("drop table user_session")
except Exception as e:
    print(e)
    
try:
    session.execute("drop table song_user")
except Exception as e:
    print(e)

### Close the session and cluster connection¶

In [18]:
session.shutdown()
cluster.shutdown()